{% extends "base.html" %} {% block title %}teoria{% endblock %} {% block
    content %} 

<h1>Fondamenti di Automatica</h1>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#introduzione">Introduzione</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#matrici">Matrici</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#fdt">Funzione di Trasferimento</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#diagrammi">Diagrammi e Metodi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#controllori">Controllori</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<main class="container mt-4">
<section id="introduzione">
    <h2 class="text-center text-danger">Introduzione</h2>
    <h3>Cos'è un sistema?</h3>
    <p>
        Un sistema è una raccolta di parti interconnesse che formano un insieme più complesso,
        una rappresentazione di un qualcosa molto complesso nel mondo reale in termini matematici.
        Un sistema di controllo invece è un particolare sistema che sottostà a particolari requisiti di performance o funzionalità,
        per fare ciò sfrutta un meccanismo hardware o software che altera lo stato futuro del sistema per arrivare allo stato desiderato.
    </p>

    <h3>Equilibrio e Linearizzazione</h3>
    <p>
        Quando modelliziamo un sistema molto complesso è plausibile che anche il modello stesso risulti complesso, dunque difficilmente risolvibile,
        entra qui in gioco la linearizzazione, ovvero l'approssimazione di un sistema non lineare ad un sistema lineare in una particolare regione 
        del sistema dove questa approssimazione sia valida.
        Uno stato del sistema è detto equilibrio se per ogni possibile input lo stato non cambia.
        La linearizzazione viene fatta attorno ad un punto di equilibrio del sistema.
    </p>

    
    <h3>Sistemi LTI</h3>
    <p>
        I sistemi Lineari Tempo-Invariante sono dei particolari sistemi appunto lineari il cui output non dipende dal tempo ma solo dallo stato e dall'input.
        Essi non modellizzano sistemi reali ma sono molto utili perchè possono fungere da linearizzazione di uno di essi e perchè sono risolvibili.
        <blockquote>
            "Linear systems are important because we can solve them.” — Richard Feynman.
        </blockquote>
        Proprietà:
        <ul>
            <li>Omogeneità -> se raddoppi l'input allora l'output sarà raddoppiato</li>
            <li>Additività -> se x1 produce in output y1 e x2 produce y2 allora x1+x2 produrrà y1+y2</li>
            <li>Tempo invarianza -> il sistema si comporta indipendentemente da quando avviene l'azione</li>
        </ul>
        Sebbene quindi queste condizioni siano molto stringenti e nessun sistema del mondo reale possa essere modellizzato con un LTI
        la maggior parte dei sistemi possono essere linearizzati con esso.
        Un sistema LTI può essere caratterizzato dalla sua risposta impulsiva (funzione delta di Dirac in input, zero ovunque ma infinito in x = 0).
    </p>

    <h3>Funzione di Trasferimento</h3>
    <p>
        La rappresentazione matematica di un sistema può essere fatta in due modi: ne dominio del tempo col sistema di equazioni differenziali e matrici nell'immagine sopra oppure
        nel dominio di Laplace (s) con la funzione di trasferimento.
    </p>
    <img src="{{ url_for('static',filename='teoria/img/ssr-tfr.png') }}" class="img-fluid mb-3">
    <p>
        Una funzione di trasferimento è la trasformazione di Laplace della risposta all'impulso di un sistema LTI con un singolo ingresso e output 
        singolo quando si impostano le condizioni iniziali a zero.
    </p>
    <form id="laplace-form" class="form-inline my-2 my-lg-0">
        <input id="fdt-laplace" placeholder="Funzione di trasferimento o risposta impulsiva" class="form-control mr-sm-2" type="text">
        <button id="submit-laplace" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Trasforma</button>
    </form>
    <div id="result-laplace"></div>
    <img src="{{ url_for('static',filename='teoria/img/LTI.png') }}" class="img-fluid mb-3">
    <img src="{{ url_for('static',filename='teoria/img/gs-mat.png') }}" class="img-fluid mb-3">
    <p>
        La funzione di trasferimento descrive il rapporto tra la trasformata dell'uscita (dovuta all'ingresso senza l'uscita forzata) e la trasformata dell'ingresso.
    </p>
</section>

<section id="matrici">
    <h2 class="text-center text-danger">Lavorare con le Matrici (sistemi LTI)</h2>

    <h3>Movimento di Stato ed Equilibrio</h3>
    <p>
        La Matrice A della rappresentazione in forma di stato (quella matriciale) è la matrice di sistema che rappresenta lo stato sel sistema,
        essa è infatti la matrice dei coefficienti delle variabili di stato, le variabili di stato rappresentano le quantità che descrivono completamente 
        lo stato del sistema in un determinato istante di tempo. Ad esempio, per un sistema meccanico come un pendolo, 
        le variabili di stato possono includere la posizione e la velocità del pendolo al momento considerato.
        Il <strong>movimento dello stato</strong> si riferisce quindi al cambiamento delle variabili di stato nel tempo, in base alle equazioni che descrivono il sistema dinamico. 
        Il <strong>movimento di equilibrio</strong> è la condizione in cui le variabili di stato di un sistema dinamico rimangono costanti nel tempo. In altre parole, 
        il sistema raggiunge uno stato stazionario in cui non ci sono cambiamenti nel tempo delle variabili di stato.
        L'unico modo per cui il sistema possa muoversi da uno stato di equilibrio è una perturbazione esterna. 
        Un <strong>movimento perturbato</strong> si verifica quando un sistema dinamico è influenzato da una perturbazione esterna o da un cambiamento improvviso nell'ingresso o nelle condizioni iniziali. 
    </p>

    <h3>Stabilità Interna</h3>
    <p>
        Un movimento si dice marginalmente stabile quando raggiunto un equilibrio lo stato varia nel tempo di una minima quantità,
        si dice asintoticamente stabile se varia in minima quantita ma poi torna allo stato di equilibrio.
        Un movimento se non è stabile è instabile.
        Una matrice di Jordan è una matrice diagonale a blocchi:
        <ul>
            <li>Gli autovalori della matrice di Jordan sono gli autovalori dei singoli blocchi</li>
            <li>molteplicità algebrica: numero di volte nel quale appare un autovalore</li>
            <li>molteplicità geometrica: numero di blocchi nel quale appare l'autovalore</li>

        </ul>
        I modi sono tutte e sole le funzioni del tempo che compaiono combinate linearmente come elementi di e^(A*t), esse possono essere dedotte dagli autovalori della matrice A,
        dai modi è possibile dedurre la stabilità o l'instabilità del sistema.
        <h5>Analisi modale</h5>
        <ul>
            <li>Data la matrice A in forma di Jordan individuare i blocchi di Jordan e calcolarne gli autovalori</li>
            <li>Assegnare le molteplicità algebrica e geometrica ad ogni autovalore di A in base al criterio sopra espresso</li>
            <li>
                Passiamo ora a scrivere per ogni blocco i modi
                <ul>
                    <li>Se l'autovalore è reale con m.a. nel blocco = 1 -> modo = e^(λt) </li>
                    <li>Se l'autovalore è reale con m.a. nel blocco > 1 -> modo = t^k * e^(λt) con k = 0...(m.a.-1) </li>
                    <li>Se l'autovalore è complesso coniugato (+-a*i + b) con m.a. = 1 -> modi = e^(bt) * cos(at), e^(bt) * sin(at)</li>
                </ul>
            </li>
            <li>Se tutti i modi convergono a zero il sistema è asintoticamente stabile</li>
            <li>Se non ci sono modi divergenti il sistema è marginalmente stabile</li>
            <li>Se almeno uno dei modi diverge il sistema è instabile (es.: e^t * sin(t) -> diverge)</li>
        </ul> 
        Più semplicemente la stabilità può essere dedotta da autovalori e poli della fdt:
        <ul>
            <li><strong>Asintoticamente stabile</strong> se gli autovalori della matrice A hanno parte reale < 0 e i poli della fdt hanno parte reale < 0.</li>
            <li><strong>Marginalmente stabile</strong> se un autovalore (o polo) è = 0 con m.a. = m.g., tutti gli altri hanno parte reale < 0.</li>
            <li><strong>Instabile</strong> se almeno un autovalore (o polo) ha parte reale > 0 o presenta un autovalore = 0 con m.a. = m.g..</li>
        </ul>
        La stabilità interna è quindi una proprietà che dipende dalla struttura del sistema (matrice A).
        Per i sistemi non LTI da cui deriva il sistema linearizzato possiamo dire che sono stabili solo se il linearizzato è asintoticamente stabile e che è instabile se il linearizzato è instabile. 
        <h5>Metodo di Lyapunov</h5>
        <p>
            ...
        </p>
    <h3>Raggiungibilità</h3>
    <p>
        Uno stato del sistema si dice raggiungibile se esiste un ingresso che mi porta a tale stato in un tempo finito.
        Un sistema si dice completamente raggiungibile se tutti gli stati sono raggiungibili.
        Questa proprietà è indipendente dal segnale di uscita, infatti è verificabile studiando la matrice di raggiungibilità:
        <br>
        Mr = [B; A*B; A^2*B; ...; A^(n-1)*B] con n dimensione di A
        <br>
        Se il rango(Mr) = n allora il sistema risulta completamente raggiungibile.
    </p>
    
    <h3>Controllabilità</h3>
    <p>
        Uno stato si dice controllabile se esiste un input che porta quello stato allo stato zero in tempo finito, il sistema è controllabile se ogni suo stato è controllabile. 
        Per i sistemi LTI controllabilità coincide con raggiungibilità.
        Per un sistema completamente controllabile esiste sempre almeno un ingresso che permette al sistema di passare da uno stato ad un altro.
        Un sistema si dice stabilizzabile se la parte non controllabile ha autovalori con parte reale < 0.
    </p>

    <h3>Osservabilità</h3>
    <p>
        Uno stato si dice non osservabile se analizzando un qualsiasi tratto dell'uscita libera corrispondente non si riesce a distinguere da x = 0.
        <br>
        Uscita libera -> y*e(t) = C * e^(At) * x0
        <br>
        L'uscita libera di un sistema si riferisce alla risposta del sistema quando non è soggetto a alcun ingresso esterno.
        Da questo si evince che le matrici che ci servono per la verifica dell'osservabilità sono A e C (che moltiplicano le variabii di stato e non l'ingresso), nello specifico come per la raggiungibilità:
        <br>
        Mo = [C C*A C*A^2 ... C*A^(n-1)] con n dimensione di A
        <br>
        Se il rango(Mo) = n allora il sistema risulta completamente osservabile.        
    </p>

    <h3>Stabilità BIBO (esterna)</h3>
    <p>
        In un sistema BIBO stabile, se l'ingresso applicato al sistema è limitato in ampiezza, l'uscita del sistema rimane limitata e non cresce in modo indefinito. Ciò implica che il sistema non amplifica l'ingresso al punto da causare uscite che divergono o crescono indefinitamente.

    </p>
    <h3>Risolvi un esercizio</h3>
    <form id="matrix-form" class="form-inline my-2 my-lg-0">
        <input id="A" placeholder="A (es.: [-2 2 -1; 0 -1 2; 0 -2 -1])" class="form-control mr-sm-2" type="text">
        <input id="B" placeholder="B (es.: [1; 2; 1])" class="form-control mr-sm-2" type="text">
        <input id="C" placeholder="C (es.: [0 1 0])" class="form-control mr-sm-2" type="text">
        <input id="D" placeholder="D (es.: 0)" class="form-control mr-sm-2" type="text">
        <button id="submit-matrix" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Studia</button>
    </form>
    <div id="result-matrix"></div>
</section>

<section id="fdt">
    <h2 class="text-center text-danger">Lavorare con la FDT (sistemi LTI)</h2>
    <h3>Diagrammi a Blocchi</h3>
    <img src="{{ url_for('static',filename='teoria/img/block-diagrams.png') }}" class="img-fluid mb-3 w-50">
    <p> 
        In questo processo di somma e moltiplicazione di fdt in caso di cancellazione di zeri o poli può essere inficiata la controllabilità e l'osservabilità.
        Inoltre non è possibile cancellare un polo instabile con uno zero, il sistema risulterebbe lo stesso instabile.
    </p>

    <h3>Ordine di un sistema</h3>
    <p>
        Un sistema si dice proprio se il numero dei suoi poli è >= al numero dei suoi zeri.
        L'ordine di un sistema è dato dal più alto esponente del denominatore.
        Un polo dominante è un polo del sistema che è più piccolo di almeno 5 volte di tutti gli altri poli,
        col polo dominante si può approssimare un sistema di ordine n ad un sistema di ordine 1 con quel solo polo.
        Nel caso il polo fosse complesso si può approssimare il sistema ad un sistema di ordine 2 che presenta le seguenti peculiarità:
    </p>
    <img src="{{ url_for('static',filename='teoria/img/gs2-1.png') }}" class="img-fluid mb-3">
    <img src="{{ url_for('static',filename='teoria/img/gs2-2.png') }}" class="img-fluid mb-3">
    <p>
        Una volta ricavati xi e wn dall'equazione di secondo grado si può disegnare la risposta a gradino:
    </p>
    <form id="step-form" class="form-inline my-2 my-lg-0">
        <input id="fdt-step" placeholder="xi, wn (es: 0.2,1)" class="form-control mr-sm-2" type="text">
        <button id="submit-step" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Disegna</button>
    </form>
    <div id="result-step"></div>

    
    <h3>Teorema del Valore Finale</h3>
    <p>
        Intuitivamente, se l'output converge in un singolo valore esiste il valore finale, se invece l'uscita oscilla indefinitamente o va all'infinito parlare del valore finale non ha senso.
        Il valore finale nel dominio del tempo non è altro che il limite di x(t) all'infinito.
        A patto che la fdt non abbia poli con parte reale positiva il teorema del valore finale ci permette di calcolare quest'ultimo
        utilizzando la fdt e non la funzione nel dominio del tempo.
        Infatti il th. del valore finale ci dice che il valore finale è uguale al limite di s -> 0 della X(s)*s.
        X(s) = G(s) * U(s) ovvero la fdt per l'ingresso. 
        <ul>
            <li>impulso -> u(s) = 1</li>
            <li>gradino -> u(s) = 1/s</li>
            <li>rampa -> u(s) = 1/(s^2)</li>
        </ul>
    </p>
    <form id="valore_finale-form" class="form-inline my-2 my-lg-0">
        <input id="fdt-valore_finale" placeholder="Funzione di trasferimento" class="form-control mr-sm-2" type="text">
        <button id="submit-valore_finale" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Calcola</button>
    </form>
    <div id="result-valore_finale"></div>
    <h4>Errore a regime</h4>
    <p>
        Sfruttando il th. precedente si può calcolare l'errore a regime di un particolare ingresso facendo
        il limite di s -> 0 di (s * U(s))/(1 + G(s)).
    </p>
    <form id="errore-form" class="form-inline my-2 my-lg-0">
        <input id="fdt-errore" placeholder="Funzione di trasferimento" class="form-control mr-sm-2" type="text">
        <button id="submit-errore" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Calcola</button>
    </form>
    <div id="result-errore"></div>
</section>

<section id="diagrammi">
    <h2 class="text-center text-danger">Diagrammi e Metodi per la FDT</h2>
    <h3>Risposta in Frequenza</h3>
    <p>
        La risposta in frequenza di un sistema di controllo descrive come il sistema risponde ai segnali in ingresso a diverse frequenze.
        Viene solitamente rappresentata graficamente utilizzando un diagramma di Bode, che mostra l'ampiezza e la fase del segnale di uscita in funzione della frequenza del segnale di ingresso.
        La rappresentazione del diagramma di Bode è valida solo per sistemi stabili o marginalmente stabili.
    </p>

    <h3>Bode Plot</h3>
    <p>
        Ogni diagramma di Bode è composto in realtà da due grafici: uno che rappresenta il guadagno (o modulo) e l'altro che rappresenta la fase, sull'asse x c'è sempre la frequenza.
        Il guadagno viene rappresentato in deciBel (dB) mentre la fase in gradi (°).
        Come disegnare un diagramma di Bode data una fdt?
        Con Matlab, a mano possiamo solo farne un'approssimazione degli asintoti, ecco come:
        <ul>
            <li>Portare la fdt in forma di Bode, ovvero (dando per scontato che ogni fattore della fdt sia un polo, uno zero o una costante) con tutti i poli e gli zeri nella forma k*(s/k + 1)</li>
            <li>es.: G(s) = 1/(s * (s+2) * (s+10)) -> in forma di Bode -> G(s) = 1/(s * 2*(s/2+1) * 10*(s/10+1)) <br> G(s) = 1/(20 * s * (s/2+1) * (s/10+1)) </li>
            <li>A questo punto si tratta di disegnare gli asintoti sui due grafici per ogni fattore (in questo caso abbiamo 3 poli ed una costante 1/20 come fattori)</li>
        </ul>
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_eh1conN6YM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <form id="bode-form" class="form-inline my-2 my-lg-0">
        <input id="fdt-bode" placeholder="Funzione di trasferimento" class="form-control mr-sm-2" type="text">
        <button id="submit-bode" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Disegna</button>
    </form>
    <div id="result-bode"></div>
    <p>
        La lunghezza di banda è il range di frequenza nelle quali il guadagno è significativo (solitamente > -3dB).
        L'ampiezza di banda è un'indicazione della velocità di risposta del sistema: un'ampiezza di banda più elevata implica una risposta transitoria più rapida (cioè in grado di seguire frequenze più elevate).

    </p>

    
    <h3>Sensitivity Function</h3>
    Data una fdt G(s) e un controllore R(s) in serie ad essa si dice L(s) = R(s)*G(s) la fdt di ciclo aperto.
    Per studiare quanto il feedback del sistema influenzi i disturbi si studia la funzione di sensitività: S(s) = 1/(1 + L(s)).
    In particolare si studia il picco di sensitività nominale ovvero: il massimo di w in |S(jw)|, più è alto e maggiore il nostro sistema sarà sensibile agli ingressi.

    
    <h3>Complementary Sensitivity Function</h3>
    T(s) = L(s)/(1 + L(s))

    
    <h3>Criterio di Routh-Hurwitz</h3>
    <p>
        Il criterio di stabilità di Routh-Hurwitz è un test matematico che rappresenta una condizione necessaria e sufficiente per la stabilità di un sistema di controllo lineare invariante nel tempo (LTI).
        Permette di verificare la stabilità senza dover calcolare i poli, qualora il denominatore fosse un'equazione di grado abbastanza alto.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WBCZBOB3LCA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>
        E' inoltre molto utile per trovare il K critico, ovvero il guadagno K massimo moltiplicabile alla fdt dopo il quale il sistema a ciclo chiuso risulta instabile.
        Basta sommare al denominatore preso in esame dal metodo del video sopra il numeratore moltiplicato per la variabile K e determinare le condizioni di stabilità per K.
    </p>

    <h3>Criterio di Nyquist</h3>
    <p>
        Col criterio di Nyquist possiamo verificare semplicemente la stabilità di ciclo chiuso partendo da una fdt di ciclo aperto semplicemente disegnando il diagramma di Nyquist e contando gli avvolgimenti attorno al punto x = -1.
        Questo perchè abbiamo visto che coi diagrammi di Bode non possiamo dedurre niente a riguardo della stabilità e col cirterio di Routh-Hurwitz impieghiamo molto tempo.
        Con questo criterio basta disegnare il diagramma (vedi come al prossimo paragrafo) e verificare che il diagramma non avvolga il punto x = -1 perchè il sistema sia stabile a ciclo chiuso.
    </p>

    
    <h3>Nyquist Plot</h3>
    <ul>
        <li>Sostituire ad s il numero immaginario jw e calcolarsi G(jw)</li>
        <li>Calcolarsi G(jw) con w -> 0: quello sarà il punto di inizio del diagramma</li>
        <li>Calcolarsi G(jw) con w -> inf: quello sarà il punto di fine</li>
        <li>Trovare wr ponendo la parte reale di G(jw) = 0</li>
        <li>Il diagramma intersecherà l'asse immaginario in G(jwr)</li>
        <li>Trovare wimm ponendo la parte immaginaria di G(jw) = 0</li>
        <li>Il diagramma intersecherà l'asse reale in G(jwimm)</li>
        <li>Con questi 4 punti puoi disegnare il diagramma e rifletterlo rispetto all'asse x</li>
    </ul>
    <p>
        Ovviamente questo metodo da un'approssimazione del diagramma e non il vero diagramma.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sof3meN96MA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <form id="nyquist-form" class="form-inline my-2 my-lg-0">
        <input id="fdt-nyquist" placeholder="Funzione di trasferimento" class="form-control mr-sm-2" type="text">
        <button id="submit-nyquist" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Disegna</button>
    </form>
    <div id="result-nyquist"></div>

    
    <h3>Margini di Stabilità</h3>
    <p>
        I margini di stabilità sono due valori che ci dicono quanto modulo e quanta fase possiamo aggiungere alla nostra fdt purchè essa rimanga stabile.
        Essi sono intuibili dal diagramma di Bode, infatti:
        il <strong>margine di modulo</strong> è il valore che prende il modulo alla frequenza in cui la fase è a -180°, 
        il <strong>margine di fase</strong> invece è il valore che prende la fase alla frequenza in cui il modulo è a zero sommata a 180°. 
        <a href="#bode-plot">Si possono calcolare i margini di fase dal paragrafo sui diagrammi di Bode.</a>
    </p>


    <h3>Root Locus</h3>
    <p>
        Il luogo delle radici è un diagramma sul piano complesso che rappresenta i poli e gli zeri di una fdt al variare di K.
        Analizzandolo si può determinare la stabilità al variare di k (k critico) e determinare se la risposta nel dominio del tempo oscilla oppure è esponenziale.
        E' molto utile inoltre nella progettazione di controllori visto che si possono visionare da un diagramma gli effetti dell'aggiunta di poli e zeri al variare del guadagno K.
        Ecco le regole da seguire per disegnare a mano il luogo delle radici prendendo il considerazione poli e zeri della fdt di ciclo aperto:
        <ol>
            <li>n° linee = max(n° poli, n° zeri)</li>
            <li>Le linee vanno dai poli agli zeri</li>
            <li>Le radici complesse sono simmetriche rispetto all'asse reale e anche le relative linee lo sono</li>
            <li>Le linee non si sovrappongono</li>
            <li>Contando da destra i poli dispari non accoppiati vanno sull'asse reale a sinista.</li>
            <li>Le linee entrano ed escono dall'asse reale a 90°</li>
            <li>Le linee disaccoppiate vanno ad infinito</li>
            <li>
                Asintoti:
                <ul>
                    <li>Dati n = n° poli, m = n° zeri, q = 1, 2, ..., (n-m-1)</li>
                    <li>Il centro da dove partono gli asintoti è = <br> (somma(valore dei poli)-somma(valore degli zeri))/(n - m)</li>
                    <li>Gli angoli sono = (2*q + 1)*180°/(n-m)</li>
                </ul>
            </li>
            <li>Se due radici vanno ad infinito allora la somma delle radici è costante</li>
            <li>Il luogo inverso (con k da 0 a -inf) si disegna invertendo la regola 5 e aggiungendo 180° agli asintoti</li>
            <li>Extra: L'angolo teta è l'angolo che prende dall'asse x l'asintoto del damping ratio xi (sistema 2nd ordine) che si ottiene con: cos(teta) = xi</li>
        </ol>
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CRvVDoQJjYI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <form id="rlocus-form" class="form-inline my-2 my-lg-0">
        <input id="fdt-rlocus" placeholder="Funzione di trasferimento" class="form-control mr-sm-2" type="text">
        <button id="submit-rlocus" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Disegna</button>
    </form>
    <div id="result-rlocus"></div>
</section>

<section id="controllori">
    <h2 class="text-center text-danger">Controllori</h2>
    <p>
        Un controllore è un dispositivo che riceve come input una misurazione di un processo e genera come output un comando che viene utilizzato per controllare il processo. Il controllore è progettato per mantenere il processo in uno stato desiderato, nonostante le perturbazioni esterne.
        Nel nostro caso dato un sistema con fdt G(s) il controllore è un blocco che si mette in serie a G(s) che modifica il comportamento del sistema per raggiungere un obiettivo di prestazione.
    </p>

    
    <h3>Loop Shaping</h3>
    <p>
        Partendo da una fdt G(s) voglio aggiungergli in serie un controllore R(s) che riesca a soddisfare alcuni parametri prestabiliti come:
        il sistema deve avere un certo margine di fase o di guadagno, l'errore a gradino deve essere minore di un tot oppure voglio rendere più stabile il sistema, etc...
        Solitamente è necessario analizzare il diagramma di Bode e tramite una procedura di trial-error si può arrivare al controllore R(s) desiderato. 
    </p>

    <h3>Compensatori Lead-Lag</h3>
    <p>
        I compensatori lead-lag sono particolari controllori che permettono di agire in specifici parametri del sistema:
        <ul>
            <li>Sono del tipo: R(s) = (s + z)/(s + p)</li>
            <li>Il Lead-compensator ha z < p ed aggiunge fase a determinate frequenze</li>
            <li>Il Lag-compensator invece ha z > p e riduce la fase in determinate frequenze</li>
            <li>Possono essere utilizzati entrambi in contemporanea per agire su punti diversi dello spettro</li>à
        </ul>
        Possono essere utilizzati anche per migliorare la stabilità o agire su di essa, infatti essendo coppi poli-zeri possono modificare gli asintoti del luogo delle radici (asintoti più a sx maggiore stabilità).
    </p>

    <h3>PID</h3>
    <p>
        I controllori PID (proporzionale-integrale-derivato) è il controllore più usato nei sistemi a ciclo chiuso (circa il 95% dei controllori sono PID).
        <ul>
            <li>P = proporzionale: il controllore è semplicemente un incremento di guadagno K.</li>
            <li>I = integratore: il controllore è un polo in zero R(s) = 1/s </li>
            <li>D = derivato: il controllore è uno zero in zero R(s) = s </li>
        </ul>
        Questi tre elementi messi in parallelo vanno a formare il controllore, tuttavia molto spesso i controllori sono formati da uno solo o due elementi (PI oppure solo D).
        
    </p>
</section>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{{ url_for('static',filename='teoria/js/send_ajax.js') }}"></script>
{% endblock %}